
:root {
    --border-radius--base: 8px;
    --form-control-height: 32px;
    --textfield-padding-horizontal: 16px;
    --focus-outline-color: rebeccapurple;
    --color-primary: rebeccapurple;
    
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

h1 {
    border: 3px solid rgb(192, 192, 192);
    transition: box-shadow .2s ease-in;
    border-radius: 8px;
    border
}

.form {
    display: inline-block;
    position: absolute;
    padding-right: 10.56px;
    margin-right: 20px;
}

.form-group{
    border-radius: var(--border-radius--base);
    border: 1px solid rgb(192, 192, 192);
}

.secondary-form {
    display: inline-block;
    position: relative;
    padding-right: 10.56px;
    border-radius: var(--border-radius--base);
    margin-left: 280px;
    text-align: left;
}

.secondary-form::after{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
} 

.form-item {
    display: block;
}

.form-item__label {
    margin-bottom: 4px;
}

.form .secondary-form:not(:last-child) {
    margin-bottom: 12px;
}

.form .form-item:not(:last-child) {
    margin-bottom: 12px;
}

/* Textfield */

.textfield {
    border-radius: var(--border-radius--base);
    padding: 0 var(--textfield-padding-horizontal);
    height: var(--form-control-height);
    border: 1px solid rgb(192, 192, 192);
    transition: box-shadow .2s ease-in;
    outline: none;
    box-sizing: border-box;
}

.textfield:focus-visible {
    box-shadow: 0 0 0 1px var(--focus-outline-color);
}

/* Input */

.input {}

/* Textarea */

.textarea {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: var(--form-control-height);
    height: 125px;
    width: 520px;
}

/* Select */

.select {}
    
/* Button */

.button {
    width: 125px;
    height: 30px;
    text-decoration: none;
    padding-top: auto;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    margin: 20px auto;
    font: bold 14px arial;
    min-height: var(--form-control-height);
    border-radius: var(--border-radius--base);
}

.button:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  }

.button:not(.active):hover,
.button:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  }

.button:not(:hover) {
      transition: 0.4s;
  }

/* Toggle group */

.option {
    display: block;
    margin-bottom: 8px;
}

.toggle-group__item {
    display: block;
    margin-bottom: 8px;
    padding-left: 30px;
}

.checkbox__item {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    margin-top: 4.7px;
    margin-left: -19.2px;
    width: 9.6px;
    height: 9.6px;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 1.6px rebeccapurple;

}

/* Checked */

.checkbox__item:checked + .check__box {
    background-color: rebeccapurple;
}

/* Focus */

.checkbox__item:focus + .check__box {
    box-shadow:
    0 0 0 1.6px rgb(109, 65, 153),
    0 0 0 3.2px rgb(113, 77, 150);
}

/* Disabled */

.checkbox__item:disabled + .check__box {
    box-shadow: 0 0 0 1.6px #9B9B9B;
}

/* Checked disabled */

.checkbox__item:disabled:checked + .check__box {
    background-color: #9B9B9B;

}