:root {
    --border-radius--base: 8px;
    --form-control-height: 32px;
    --textfield-padding-horizontal: 16px;
    --focus-outline-color: rebeccapurple;
    --color-primary: rebeccapurple;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.form {}

.form-group {
    border-radius: var(--border-radius--base);
    border: 1px solid rgb(192, 192, 192);
}

.form-item {
    display: block;
}

.form-item__label {
    margin-bottom: 4px;
}

.form .form-group:not(:last-child) {
    margin-bottom: 12px;
}

.form .form-item:not(:last-child) {
    margin-bottom: 12px;
}

/* Textfield */

.textfield {
    border-radius: var(--border-radius--base);
    padding: 0 var(--textfield-padding-horizontal);
    height: var(--form-control-height);
    border: 1px solid rgb(192, 192, 192);
    transition: box-shadow .2s ease-in;
    outline: none;
    box-sizing: border-box;
}

.textfield:focus-visible {
    box-shadow: 0 0 0 1px var(--focus-outline-color);
}

/* Input */

.input {}

/* Textarea */

.textarea {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: var(--form-control-height);
    height: auto;
}

/* Select */

.select {}
    
/* Button */

.button {
    color: white;
    border: none;
    border-radius: var(--border-radius--base);
    min-height: var(--form-control-height);
    min-width: 100px;
}

.button_primary {
    background-color: var(--color-primary);
}

.button_secondary {
    background-color: thistle;
}

/* Toggle group */

.option {
    display: block;
    margin-bottom: 8px;
}

.toggle-group__item {
    display: block;
    margin-bottom: 8px;
    padding-left: 19.2px;
}

.checkbox__item {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    margin-top: 4.7px;
    margin-left: -19.2px;
    width: 9.6px;
    height: 9.6px;
    overflow: hidden;
    border-radius: 0.8px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 1.6px rebeccapurple;

}

/* Checked */

.checkbox__item:checked + .check__box {
    background-color: rebeccapurple;
}

.checkbox__item:focus + .check__box {
    box-shadow:
    0 0 0 1.6px rgb(109, 65, 153),
    0 0 0 3.2px rgb(113, 77, 150);
}

.checkbox__item:disabled + .check__box {
    box-shadow: 0 0 0 1.6px #9B9B9B;
}

.checkbox__item:disabled:checked + .check__box {
    background-color: #9B9B9B;

}