:root {
    --border-radius--base: 8px;
    --form-control-height: 32px;
    --textfield-padding-horizontal: 16px;
    --focus-outline-color: rebeccapurple;
    --color-primary: rebeccapurple;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.form {}

.form-item {
    display: block;
}

.form-item__label{
    margin-bottom: 4px;
}

.form .form-item:not(:last-child) {
    margin-bottom: 12px;
}

/* Textfield */

.textfield {
    border-radius: var(--border-radius--base);
    padding: 0 var(--textfield-padding-horizontal);
    height: var(--form-control-height);
    border: 1px solid rgb(192, 192, 192);
    transition: box-shadow .2s ease-in;
    outline: none;
    box-sizing: border-box;
}

.textfield:focus-visible {
    box-shadow: 0 0 0 1px var(--focus-outline-color);
}

/* Input */

.input {}

/* Textarea */

.textarea {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: var(--form-control-height);
    height: auto;
}

/* Select */

.select {}
    
/* Button */

.button {
    color: white;
    border: none;
    border-radius: var(--border-radius--base);
    min-height: var(--form-control-height);
    min-width: 100px;
}

.button_primary {
    background-color: var(--color-primary);
}

.button_secondary {
    background-color: thistle;
}

/* Toggle group */

.toggle-group__item{
    display: block;
}

